html
 {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Verdana;
    height: 100%;
 }

body
{
    min-height: 100%;
    background-color: #22905F;
}

.ng-view
{
    margin-top: -10px;
}

.main-menu
{
    height: 100vh;
    background: url('/static/images/posts.jpg') center;
    background-size: cover;
    padding: 0% 10% 0% 10%;
    overflow: overlay;
}

.tip-row
{
    padding: 10px 0px 10px 0px;
    margin-right: -15px;
    margin-left: -15px;
    overflow-x: hidden;

    color: white;
    font-variant: small-caps;
    font-size: 1.3em;

    margin-bottom: 20px;

    background-color: rgba(7,24,52,0.8);

}

.not-selected
{
    filter: grayscale(100%) brightness(60%);
}

.frontpage-link
{
    padding: 50px 10px 10px 10px;
    font-variant: small-caps;
    font-size: 2em;
    color:white;
    text-shadow: 2px 2px #000000;


    border-radius: 10px;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 1px;
    box-shadow: 0px 0px 10px 2px #000000;
    margin-bottom: 10px;
}

.frontpage-link-v2
{
    padding: 10px 0px 10px 0px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.6em;
    color: #0f3168;
    text-align: center;

    border-color: #0f3168;
    border-style: solid none;
    margin-bottom: 10px;

    background: linear-gradient(to right, rgba(15,49,104,0.2), rgba(255,255,255,0.7), rgba(15,49,104,0.2));
}

.tips-link
{
    background: url('../images/fieldnight.jpg') no-repeat;
    background-position: left;
    background-size: cover;
}

.past-tips-link
{
    background: url('../images/field.jpg') no-repeat;
    background-size: cover;
}

.scoreboard-link
{
    background: url('../images/chalkboard.jpg') no-repeat;
    background-size: cover;
}

.draw-link
{
    background: url('../images/ball.jpg') no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.ladder-link
{
    background: url('../images/trophy.jpg') no-repeat;
    background-size: cover;
}

.help-link
{
    background: url('../images/help.png') no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.draw
{
    background-color: white;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom:20px;
}

.pasttip
{
    background-color: white;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom:20px;
}

.scores
{
    background-color: white;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom:20px;
}

.winner
{
    font-weight: bold;
}

.correct
{
    color: #009933;
    background-color: #c0f2d0;
}

.incorrect
{
    color: #CC0000;
    background-color: #e99696;
}

.page-title
{
    font-variant: small-caps;
    font-size: 4em;
    font-decoration: bold;
    text-shadow: 2px 2px #000000;
    color: white;
}

.sub-page-title
{
    font-variant: small-caps;
    font-size: 3em;
    font-decoration: bold;
}

.round
{
    font-size:1.5em;
    font-variant: small-caps;
    text-align: center;
}

.selector
{
    color: white;
    font-size:1.4em;
    font-variant: small-caps;
    padding-top: 5px;
    background-color: #555555;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 3px #222222;
}

.draw-row
{
    padding: 0px;
    margin: 0px;
}

.score
{
    text-align: center;
    font-size: 3em;
}

.tip
{
    padding-top: 10px;
}

.thead-scores{
    background-color: #212A37;
    color: white;
    font-weight: bold;
}

.title-bar
{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color:#063455;
    color: white;
    font-size: 16pt;
    font-variant: small-caps;
}

.subnav
{
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 12pt;
    #position: sticky;
    #top: 0;
    z-index: 100;
    margin-bottom: 20px;
}

.subnav a
{
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: white;
    color: inherit;
}
.subnav a:active
{
    background-color: #265E86;
    color: white;
}

.subnav a:hover
{
    text-decoration: none;
}

.subnav a span
{
    width: 100%;
    text-align: center;
}

.subnav .bordered
{
    padding-top: 6px;
    border-bottom: 6px solid #063455;
}

.subnav .dropdown-menu
{
    width: 30%;
}

.subnav .dropdown-menu li a
{
    padding: 10px;
    text-align: center;
}

.index-loading
{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    background-color: #22905F;
    z-index: 200;
    transition: opacity 0.5s;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 20pt;
}

.index-loading.fadeout
{
    opacity: 0;
}

.glyphicon.spinning
{
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.welcome
{
    font-size: 12pt;
    font-weight: 700;
    color: white;
    padding: 10px 0px 10px 0px;
}

.index-panel
{
    background-color: white;
    padding: 70px 20px 30px 20px;
    margin-top: 10px;
    font-size: 12pt;
    white-space: nowrap;
    position: relative;
}

.index-panel h3
{
    padding-left: 20px;
    margin: 0;
    font-size: 16pt;
    height: 60px;
    line-height: 60px;
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.next-game
{
    padding: 20px 0px 20px 0px;
    width: 50%;
    height: 250px;
    font-weight: 700;
    vertical-align: top;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: normal;
}

.next-game p
{
    color: #AAAAAA;
    font-weight: 400;
}

.tip-status
{
    font-size: 16pt;
}

.success
{
    color: green;
}

.fail
{
    color: red;
}


.versus
{
    width: 50%;
    height: 250px;
    display: inline-block;
    position: relative;
    background-color: #063455;
    border-radius: 5px;
}

.versus img
{
    position: absolute;
    max-width: 70%;
    max-height: 70%;
}

.versus_team_one img
{
    top: 60%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.versus_team_two img
{
    top: 40%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
}

.round-info-flex
{
    display: flex;
    justify-content: space-around;
}

.round-info-panel
{
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 6px #DDDDDD;
    padding: 20px 10px 20px 10px;
    font-size: 4vmin;
    color: #555555;
}

.round-info-big-number
{
    font-size: 10vmin;
    color: #333333;
    font-weight: bold;
    display: inline-block;
}

.round-info-text
{
    display: inline-block;
}
