<table class='table table-responsive table-striped' style="background-color:white;">
    <thead class='thead-default'>
        <tr>
            <td>Round</td>
            <td ng-repeat="round in rounds">{{ round }}</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(username, scores) in userscores">
            <td>{{ username }}</td>
            <td ng-repeat="score in scores">{{ score }}</td>
            <td>{{ usertotals[username] }}</td>
        </tr>
    </tbody>

</table>
