<div class="draw">
    <div class="row">
        <div class="col-xs-12 sub-page-title">
            Draw
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 round">
            <p>Round {{ round }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" ng-click="changeRound(-1)">
            <p class="selector text-left">Previous Round</p>
        </div>
        <div class="col-xs-6" ng-click="changeRound(1)">
            <p class="selector text-right">Next Round</p>
        </div>
    </div>


    <div ng-repeat="game in draw">
        <div class="row" ng-click="showDetails(game.fixture_id)">
            <div class="col-xs-6" ng-class="{ winner: game.home_score>=game.away_score&&game.status=='C' }">
                <div class="row">
                    <div class="col-xs-5">
                        <img ng-src="static/images/{{game.home_team.name}}.png" class="img-responsive"/>
                    </div>
                    <div class="col-xs-5 text-left">
                        <p>{{game.home_team.name}}</p>
                    </div>
                    <div class="col-xs-2">
                        <p>{{game.home_score}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" ng-class="{ winner: game.home_score<=game.away_score&&game.status=='C' }">
                <div class="row">
                    <div class="col-xs-2">
                        <p>{{game.away_score}}</p>
                    </div>
                    <div class="col-xs-5 text-right">
                        <p>{{game.away_team.name}}</p>
                    </div>
                    <div class="col-xs-5">
                        <img ng-src="static/images/{{game.away_team.name}}.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="game.fixture_id==show">
            <div class="col-xs-12 text-center">
                <p>{{ game.start_time | date:"medium" }}</p>

                <p>{{ game.stadium }}</p>
            </div>
        </div>
    </div>
</div>