<div class="draw">
<div class="row">
    <div class="col-xs-12">
        <p>Round {{ round }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-click="changeRound(-1)">
        <p>Previous Round</p>
    </div>
    <div class="col-xs-6" ng-click="changeRound(1)">
        <p>Next Round</p>
    </div>
</div>


<div ng-repeat="game in draw">
    <div class="row" ng-click="showDetails(game.fixture_id)">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5">
                    <img ng-src="static/images/{{game.home_team}}.png" class="img-responsive"/>
                </div>
                <div class="col-xs-7 text-left">
                    <p>{{game.home_team}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-7 text-right">
                    <p>{{game.away_team}}</p>
                </div>
                <div class="col-xs-5">
                    <img ng-src="static/images/{{game.away_team}}.png" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="game.fixture_id==show">
        <div class="col-xs-12 text-center">
            <p>{{ game.start_time }}</p>
            <p>{{ game.stadium }}</p>
        </div>
    </div>
</div>
</div>