<div class="row">
    <div class="col-xs-12 draw">
        <div class="row">
            <div class="col-xs-12 sub-page-title">
                Help
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Site Overview</h3>
                <ul>
                    <li>Tips - Tap the team logo of the team you wish to tip. The team you've selected will be
                        underlined by
                        a blue
                        line. When you change your tip it is immediately saved.
                    </li>
                    <li>Past Tips - View your tips for the current and past rounds. Game scores are shown for completed
                        games.
                        The winning team will be bold, and the team you tipped will be coloured green or red, depending
                        on
                        if your
                        tip was correct or incorrect. You can change rounds on the page by tapping 'Previous Round' or
                        'Next
                        Round'.
                    </li>
                    <li>Draw - View the competition draw. Finished games will display the score and the winner wil be
                        bold.
                        You can change
                        rounds on the page by tapping 'Previous Round' or 'Next Round'.
                    </li>
                    <li>Scoreboard - View the scores awarded for each round and the totals for each user.</li>
                </ul>
                <h3>Scoring Overview</h3>
                <ul>
                    <li>2 points awarded for a correct tip</li>
                    <li>1 point awarded for a draw</li>
                    <li>0 points awarded for an incorrect tip or no tip</li>
                    <li>1 bonus point awarded per round for tipping every game correctly (excluding special games and
                        draws)
                    </li>
                </ul>
                <h3>Competition Overview</h3>
                <ul>
                    <li>Origin and City vs. Country will be added and scored as part of standard rounds.</li>
                    <li>Tipping lockout will occur within 30 minutes of game kickoff.</li>
                    <li>Game scores and user scores will be updated at midnight each night.</li>
                </ul>
                <h3>Additional Help</h3>

                <p>Please email any bugs or questions to Ben at <a
                        href="mailto://bgaramy@hotmail.com">bgaramy@hotmail.com</a>.</p>
            </div>
        </div>
    </div>
</div>