<div class="row"><div class="col-md-8 col-md-offset-2"><a href="#/tips"><div class="frontpage-link tips-link">Tips</div></a></div></div>
<div class="row"><div class="col-md-8 col-md-offset-2"><a href="#/past"><div class="frontpage-link past-tips-link">Past Tips</div></a></div></div>
<div class="row"><div class="col-md-8 col-md-offset-2"><a href="#/draw"><div class="frontpage-link draw-link">Draw</div></a></div></div>
<div class="row"><div class="col-md-8 col-md-offset-2"><a href="#/scoreboard"><div class="frontpage-link scoreboard-link">Scoreboard</div></a></div></div>