<div style="margin-top: -10%;">
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <img style="width: 100%;" src="/static/images/nrl.png" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center"><p class="page-title">Tipeezya</p></div>
</div>

<div class="row"><div class="col-xs-12"><a href="#/tips"><div class="frontpage-link tips-link">Tips</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/past"><div class="frontpage-link past-tips-link">Past Tips</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/scores"><div class="frontpage-link scoreboard-link">Scoreboard</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/draw"><div class="frontpage-link draw-link">Draw</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/ladder"><div class="frontpage-link ladder-link">Ladder</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/help"><div class="frontpage-link help-link">Help</div></a></div></div>
    </div>