<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <img style="width: 100%;" src="/static/images/nrl.png" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center"><h1>Tipeezya</h1></div>
</div>

<div class="row"><div class="col-xs-12"><a href="#/tips"><div class="frontpage-link tips-link">Tips</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/past"><div class="frontpage-link past-tips-link">Past Tips</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/draw"><div class="frontpage-link draw-link">Draw</div></a></div></div>
<div class="row"><div class="col-xs-12"><a href="#/scores"><div class="frontpage-link scoreboard-link">Scoreboard</div></a></div></div>