<div class="row">
    <div class="col-xs-12 pasttip">
        <div class="row">
            <div class="col-xs-12 sub-page-title">
                Past Tips
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 round">
                <p>Round {{ round }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 selector" ng-click="changeRound(-1)">
                <p class="text-left">< Previous Round</p>
            </div>
            <div class="col-xs-6 selector" ng-click="changeRound(1)">
                <p class="text-right">Next Round ></p>
            </div>
        </div>

        <div ng-repeat="tip in pasttips">
            <div class="row text-center" style="background-color:#DDDDDD; padding-top: 10px;">
                <div class="col-xs-6">
                    <p ng-class="{winner: tip.game.home_score>=tip.game.away_score&&tip.game.status=='C'}">
                        {{tip.game.home_team.name}}</p>
                </div>
                <div class="col-xs-6">
                    <p ng-class="{winner: tip.game.home_score<=tip.game.away_score&&tip.game.status=='C'}">
                        {{tip.game.away_team.name}}</p>
                </div>
            </div>

            <div class="row" style="background-color:#DDDDDD">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <img ng-src="static/images/{{tip.game.home_team.name}}.png"
                                 class="img-responsive center-block"/>
                        </div>
                        <div class="col-xs-6 score">
                            <p>{{tip.game.home_score}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6 score">
                            <p>{{tip.game.away_score}}</p>
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="static/images/{{tip.game.away_team.name}}.png"
                                 class="img-responsive center-block"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center tip" ng-class="{
                                  correct: ((tip.team.id==tip.game.home_team.id&&tip.game.home_score>=tip.game.away_score)||
                                           (tip.team.id==tip.game.away_team.id&&tip.game.home_score<=tip.game.away_score))&&tip.game.status=='C',
                                  incorrect: ((tip.team.id==tip.game.away_team.id&&tip.game.home_score>tip.game.away_score)||
                                             (tip.team.id==tip.game.home_team.id&&tip.game.home_score<tip.game.away_score))&&tip.game.status=='C'}">
                    <p>
                        Tip: {{tip.team.name!=""&&tip.team.name||"None"}}
                    </p>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
