<div class="draw">
    <div class="row">
        <div class="col-xs-12 sub-page-title">
            Scores
        </div>
    </div>
    <table class='table table-responsive table-striped' style="background-color:white;">
        <thead class='thead-default'>
        <tr>
            <td>Round</td>
            <td ng-repeat="round in rounds">{{ round }}</td>
            <td>Total</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in usertotals | orderBy: total: true">
            <td>{{row.user}}</td>
            <td ng-repeat="score in userscores[row.user]">{{score}}</td>
            <td>{{row.total}}</td>
        </tr>

        </tbody>

    </table>

</div>
