<div class="scores">
    <div class="row">
        <div class="col-xs-12 sub-page-title">
            Scores
        </div>
    </div>
    <table class='table table-responsive table-striped' style="background-color:white;">
        <thead class='thead-default thead-scores'>
        <tr>
            <td>Round</td>
            <td ng-repeat="round in rounds | orderBy: 'round'" ng-hide="round.round < (max_round-4)">{{ round.round }}</td>
            <td>Total</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in usertotals | orderBy:'total':true" >
            <td>{{row.user}}</td>
            <td ng-repeat="(round, score) in userscores[row.user]" ng-hide="round < (max_round-4)">{{score}}</td>
            <td><b>{{row.total}}</b></td>
        </tr>
        </tbody>
    </table>
</div>
