<div ng-repeat="(x, tip) in tips">
    <div class="row text-center tip-row" ng-hide="tip.game.status!='P'">
        <div class="row">
            <div class="col-xs-12">
                {{tip.game.start_time | date: "medium"}}<br/>{{tip.game.stadium}}
            </div>
        </div>
        <div class="row" ng-hide="submitting[tip.game.fixture_id]">
            <div class="col-xs-6" ng-class="{'text-uppercase': tip.team==tip.game.home_team.id}"
                 ng-click="updateTip(x, tip.game.home_team)">
                <img ng-src="/static/images/{{tip.game.home_team.name}}.png" alt="{{tip.game.home_team.name}}"/>

                <div ng-show="tip.team.id==tip.game.home_team.id"><img src="/static/images/selection.png"/></div>
            </div>
            <div class="col-xs-6" ng-class="{'text-uppercase': tip.team==tip.game.away_team.id}"
                 ng-click="updateTip(x, tip.game.away_team)">
                <img ng-src="/static/images/{{tip.game.away_team.name}}.png" alt="{{tip.game.away_team.name}}"/>

                <div ng-show="tip.team.id==tip.game.away_team.id"><img src="/static/images/selection.png"/></div>
            </div>
        </div>
        <div class="row text-center" ng-show="submitting[tip.game.fixture_id]" style="height: 152px;">
            <div class="col-xs-12" style="margin-top:20px">
                Submitting...
            </div>
            <div class="col-xs-12" style="margin-top:20px">
                <img style="height: 50px" src="/static/images/spinner.gif"/>
            </div>
        </div>
    </div>
</div>