<div style="background-color: #AAAAAA;">
    <div ng-repeat="(x, tip) in tips">
        <div class="row text-center">
            <div class="col-xs-12">
                {{tip.game_time}}<br/>{{tip.stadium}}
            </div>
            <div class="col-xs-6" ng-class="{'text-uppercase': tip.team==tip.home_team}"
                 ng-click="updateTip(x, tip.home_team)">
                <img src="/static/images/{{tip.home_team}}.png" alt="{{tip.home_team}}"/>
                <div style="color:red" ng-show="tip.team==tip.home_team">-----</div>
            </div>
            <div class="col-xs-6" ng-class="{'text-uppercase': tip.team==tip.away_team}"
                 ng-click="updateTip(x, tip.away_team)">
                <img src="/static/images/{{tip.away_team}}.png" alt="{{tip.away_team}}"/>
                <div style="color:red" ng-show="tip.team==tip.away_team">-----</div>
            </div>
        </div>
    </div>
</div>