{% extends "base.html" %}
{% block content %}
{% verbatim %}
<body ng-app="TippingApp" ng-controller="NavCtrl">
	<div class="title-bar">
			Tipeezya
	</div>
	<div class="subnav">
		<a ng-class="{ bordered : location.$$url=='/'}" href="#/">
			<span>Dashboard<span>
		</a>
		<a ng-class="{ bordered : location.$$url=='/tips'}" href="#/tips">
			<span>Tips</span>
		</a>
		<a ng-class="{ bordered : location.$$url=='/scores'}" href="#/scores">
			<span>Scores</span>
		</a>
		<a class="dropdown-toggle" data-toggle="dropdown">
			<span>More</span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a href="#/past">Past Tips</a></li>
			<li><a href="#/draw">Draw</a></li>
			<li><a href="#/ladder">Ladder</a></li>
		</ul>
	</div>
	<div class="container">
		<div class="ng-view"></div>
	</div>
</body>
{% endverbatim %}
{% endblock %}
