{% extends "base.html" %}
{% block content %}
<body ng-app="TippingApp" style="padding-top: 70px;">
    {% verbatim %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Tipping</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a data-toggle="collapse" data-target="#myNavbar" href="/#/">Home</a></li>
                    <li><a data-toggle="collapse" data-target="#myNavbar">Scoreboard</a></li>
                    <li><a data-toggle="collapse" data-target="#myNavbar" href="#/tips">Tipping</a></li>
                    <li><a data-toggle="collapse" data-target="#myNavbar">Past Tips</a></li>
                    <li><a data-toggle="collapse" data-target="#myNavbar" href="#/draw">Draw</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-view></div>
    </div>

    {% endverbatim %}

</body>
{% endblock %}